
<div class="box span6 offset1 text-center">
<h1 class="custom-h1">My Web Development Journal</h1>

<h2 class="custom-h2">Turning ideas into reality</h2>
<br />
  <%= link_to 'Learn more here', 'http://github.com/mhatfie', :class => 'btn btn-warning btn-large' %>


</div>